@import "../../utils/style/colors.scss";

.collapse {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  width: 50%;
  margin-bottom: 50px;
  &__title {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $primary;
    & img {
      position: absolute;
      right: 15px;
      top: 50%;
      width: 32px;
      height: 32px;
      transform: rotate(0deg) translateY(-50%);
      flex-shrink: 0;

      &.rotate {
        transform: rotate(180deg) translateY(50%);
        transform-origin: center;
        animation-timing-function: ease-out;
        animation-duration: 300ms;
      }
    }
  }
  &__content {
    display: none;
    color: $secondary;
    padding: 20px;
    background-color: $background;
    border-radius: 0 0 5px 5px;
    & ul {
      list-style: none;
      & li {
        margin-bottom: 4px;
      }
    }
    &.show {
      display: flex;
    }
    &.collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: height 0.35s ease;
    }
  }
}
