$background: #F6F6F6 !default; // grey
$primary: #FF6060 !default; // red orange
$secondary: #000000 !default; // black

// Export the variables
:export {
    background: $background;
    primary: $primary;
    secondary: $secondary;
}
